Repository AlgebraicJulia/Catlab.jl, pull requests merged in 2021-09, with the labels that each got.

#493 Documentation example of meets building on preorders
  docs/literate/sketches/meets.jl
  docs/make.jl
Labels: docs

#492 DOC: add sketch for partitions
  docs/Project.toml
  docs/literate/sketches/meets.jl
  docs/literate/sketches/partitions.jl
  docs/literate/sketches/preorders.jl
  docs/make.jl
Labels: docs

#495 Update category of elements for struct acsets
  src/categorical_algebra/CSetDataStructures.jl
  src/categorical_algebra/CatElements.jl
  test/categorical_algebra/CatElements.jl
Labels: cleanup

#498 FIX: #497 typo in meet description
  docs/literate/sketches/meets.jl
Labels: docs

#499 Fixed a few typos
  README.md
  docs/src/index.md
Labels: docs

#507 Fix PrettyTables deprecation warning about backend
  src/categorical_algebra/ACSetInterface.jl
Labels: cleanup

#508 Restore pre-v0.13 behavior for indexing acsets with static arrays
  src/categorical_algebra/ACSetInterface.jl
Labels: cleanup

#511 More flexible Graphviz support for acset schemas
  src/graphics/GraphvizGraphs.jl
Labels: enhancement, graphics
