Repository AlgebraicJulia/Catlab.jl, pull requests merged in 2023-03, with the labels that each got.

#746 Remove duplicate line in docs
  docs/literate/categorical_algebra/diagrams.jl
Labels: docs

#742 Fix bug in `tree`
  src/graphs/Searching.jl
  test/graphs/GraphAlgorithms.jl
Labels: bug, graphs

#748 Acset transformations between dynamic acsets
  src/acsets/Schemas.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/CatElements.jl
  src/categorical_algebra/StructuredCospans.jl
  src/graphics/GraphvizGraphs.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, acsets

#749 Replace `@generated` code in homomorphism search with CompTime
  src/acsets/Schemas.jl
  src/categorical_algebra/CSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, cleanup, acsets

#754 Restore type parameters of acset transformations
  src/categorical_algebra/CSets.jl
Labels: bug, cleanup, acsets

#756 Clean up 32-bit support in tests
  test/acsets/CSetDataStructures.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/DataMigrations.jl
  test/categorical_algebra/FinCats.jl
  test/categorical_algebra/StructuredCospans.jl
  test/graphics/GraphvizGraphs.jl
  test/graphs/BasicGraphs.jl
Labels: cleanup

#753 Colimits of dynamic acsets
  src/acsets/DenseACSets.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/FinSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, acsets

#757 Update ASKEM integration
  .github/workflows/integration-issues.yml
Labels: docs
