Repository AlgebraicJulia/Catlab.jl, pull requests merged in 2023-05, with the labels that each got.

#769 Fix method replacement in `FinDomFunction` constructor
  src/categorical_algebra/FinSets.jl
  test/categorical_algebra/FinSets.jl
Labels: bug

#768 Cascading delete in acsets
  src/acsets/ACSetInterface.jl
  src/acsets/DenseACSets.jl
  test/acsets/ACSets.jl
  test/acsets/CSetDataStructures.jl
Labels: enhancement, acsets

#772 Draw bipartite graphs and `FinFunction`s using Graphviz
  docs/literate/graphics/graphviz_graphs.jl
  src/graphics/Graphviz.jl
  src/graphics/GraphvizCategories.jl
  src/graphics/GraphvizGraphs.jl
  test/graphics/GraphvizCategories.jl
  test/graphics/GraphvizGraphs.jl
Labels: enhancement, graphics

#762 Improve finite functor error messages
  src/categorical_algebra/FinCats.jl
  src/programs/DiagrammaticPrograms.jl
  test/categorical_algebra/FinCats.jl
  test/programs/DiagrammaticPrograms.jl
Labels: cleanup

#775 Use native package extensions in Julia 1.9
  .github/workflows/benchmarks.yml
  .github/workflows/downstream.yml
  .github/workflows/experiments.yml
  Project.toml
  benchmark/Project.toml
  ext/CatlabConvexExt.jl
  ext/CatlabDataFramesExt.jl
  ext/CatlabGraphsExt.jl
  ext/CatlabGraphvizExt.jl
  ext/CatlabMetaGraphsExt.jl
  ext/CatlabSCSExt.jl
  ext/CatlabTikzPicturesExt.jl
  src/graphics/Graphics.jl
  src/graphics/Graphviz.jl
  src/graphs/BasicGraphs.jl
  src/wiring_diagrams/Algebras.jl
Labels: cleanup

#740 Variables in ACSets
  Project.toml
  src/acsets/ACSetInterface.jl
  src/acsets/ACSets.jl
  src/acsets/ColumnImplementations.jl
  src/acsets/DenseACSets.jl
  src/acsets/PreimageCaches.jl
  src/acsets/Schemas.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/CategoricalAlgebra.jl
  src/categorical_algebra/Categories.jl
  src/categorical_algebra/Chase.jl
  src/categorical_algebra/DataMigrations.jl
  src/categorical_algebra/FinCats.jl
  src/categorical_algebra/FinSets.jl
  src/categorical_algebra/FreeDiagrams.jl
  src/categorical_algebra/Limits.jl
  src/categorical_algebra/Slices.jl
  src/graphs/BasicGraphs.jl
  src/programs/DiagrammaticPrograms.jl
  src/wiring_diagrams/Algorithms.jl
  src/wiring_diagrams/Directed.jl
  src/wiring_diagrams/Undirected.jl
  test/acsets/CSetDataStructures.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/CategoricalAlgebra.jl
  test/categorical_algebra/Chase.jl
  test/categorical_algebra/DataMigrations.jl
  test/categorical_algebra/FinCats.jl
  test/categorical_algebra/FinSets.jl
  test/categorical_algebra/StructuredCospans.jl
  test/graphs/BasicGraphs.jl
  test/programs/DiagrammaticPrograms.jl
  test/programs/RelationalPrograms.jl
Labels: enhancement, acsets

#712 Include part ID in JSON acset serialization
  src/categorical_algebra/CSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, acsets

#783 Fix implicit conversion for union types with `AttrVar`
  src/acsets/ColumnImplementations.jl
  test/categorical_algebra/CSets.jl
Labels: bug, acsets

#765 New macro `@acset_transformation`
  src/acsets/ACSetInterface.jl
  src/acsets/DenseACSets.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/FinCats.jl
  src/categorical_algebra/Sets.jl
  test/acsets/CSetDataStructures.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/FinCats.jl
  test/categorical_algebra/Sets.jl
Labels: enhancement, acsets

#777 Maximum common sub-C-set
  src/acsets/DenseACSets.jl
  src/categorical_algebra/CSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, acsets

#785 delete_subobj! bugfix
  src/acsets/DenseACSets.jl
  test/categorical_algebra/CSets.jl
Labels: bug, acsets

#787 Serialize acset schemas as JSON via `Schema` rather than `Presentation`
  src/categorical_algebra/CSets.jl
Labels: cleanup, acsets

#794 Use new package ACSets.jl for acsets implementation
  Project.toml
  docs/Project.toml
  docs/literate/categorical_algebra/acset_serialization.jl
  docs/make.jl
  docs/src/apis/categorical_algebra.md
  docs/src/apis/core.md
  src/Catlab.jl
  src/acsets/ACSetInterface.jl
  src/acsets/ACSets.jl
  src/acsets/ColumnImplementations.jl
  src/acsets/Columns.jl
  src/acsets/Defaults.jl
  src/acsets/DenseACSets.jl
  src/acsets/IndexUtils.jl
  src/acsets/LVectors.jl
  src/acsets/Mappings.jl
  src/acsets/PreimageCaches.jl
  src/acsets/Schemas.jl
  src/categorical_algebra/ACSetsGATsInterop.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/CatElements.jl
  src/categorical_algebra/Chase.jl
  src/categorical_algebra/DataMigrations.jl
  src/categorical_algebra/FinCats.jl
  src/categorical_algebra/FinSets.jl
  src/categorical_algebra/FreeDiagrams.jl
  src/categorical_algebra/GraphCategories.jl
  src/categorical_algebra/Limits.jl
  src/categorical_algebra/StructuredCospans.jl
  src/categorical_algebra/data/acset.schema.json
  src/graphs/BasicGraphs.jl
  src/graphs/BipartiteGraphs.jl
  src/graphs/GraphAlgorithms.jl
  src/graphs/GraphGenerators.jl
  src/graphs/PropertyGraphs.jl
  src/graphs/Searching.jl
  src/theories/HigherCategory.jl
  src/theories/MonoidalAdditive.jl
  src/theories/Schema.jl
  src/theories/Theories.jl
  src/wiring_diagrams/Algebras.jl
  test/Project.toml
  test/acsets/ACSets.jl
  test/acsets/CSetDataStructures.jl
  test/acsets/Columns.jl
  test/acsets/IndexUtils.jl
  test/acsets/LVectors.jl
  test/acsets/Mappings.jl
  test/acsets/Schemas.jl
  test/categorical_algebra/ACSetsGATsInterop.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/CategoricalAlgebra.jl
  test/graphs/GraphAlgorithms.jl
  test/runtests.jl
Labels: acsets

#795 Remove acset transformation type parameters kept for backward compatibility
  src/categorical_algebra/CSets.jl
Labels: cleanup, acsets
