Repository AlgebraicJulia/Catlab.jl, pull requests merged in 2023-10, with the labels that each got.

#850 Bug fix and tests for `to_graphviz` with `Diagram` objects
  src/graphics/GraphvizCategories.jl
  test/graphics/GraphvizCategories.jl
Labels: bug, graphics, graphs

#806 Transformations between acsets involving only combinatorial data
  benchmark/Graphs.jl
  src/categorical_algebra/CSets.jl
  src/categorical_algebra/Chase.jl
  src/categorical_algebra/HomSearch.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/Chase.jl
  test/categorical_algebra/DataMigrations.jl
  test/categorical_algebra/HomSearch.jl
Labels: enhancement, acsets

#864 Reexport GATlab
  docs/literate/graphs/graphs_label.jl
  docs/literate/sketches/meets.jl
  docs/literate/sketches/preorders.jl
  docs/literate/wiring_diagrams/wd_cset.jl
  experiments/Markov/src/MarkovCategories.jl
  experiments/Markov/src/StochExpr.jl
  experiments/Markov/test/StochMapsExpr.jl
  src/categorical_algebra/CatElements.jl
  src/categorical_algebra/FinSets.jl
  src/graphics/GraphvizCategories.jl
  src/graphs/BipartiteGraphs.jl
  src/graphs/PropertyGraphs.jl
  src/theories/Theories.jl
  src/wiring_diagrams/CPortGraphs.jl
  src/wiring_diagrams/MonoidalDirected.jl
  test/categorical_algebra/ACSetsGATsInterop.jl
  test/categorical_algebra/CSets.jl
  test/categorical_algebra/CatElements.jl
  test/categorical_algebra/Categories.jl
  test/categorical_algebra/Chase.jl
  test/categorical_algebra/DataMigrations.jl
  test/categorical_algebra/FinCats.jl
  test/categorical_algebra/FinSets.jl
  test/categorical_algebra/FunctorialDataMigrations.jl
  test/categorical_algebra/StructuredCospans.jl
  test/graphics/GraphvizCategories.jl
  test/programs/GenerateJuliaPrograms.jl
  test/programs/ParseJuliaPrograms.jl
  test/theories/Theories.jl
Labels: cleanup, GATs
