Repository AlgebraicJulia/Catlab.jl, pull requests merged in 2023-01, with the labels that each got.

#732 Option to randomize C-set homomorphism search
  src/categorical_algebra/CSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement, acsets

#731 Reformat Tuple node labels in Graphviz graphs
  src/graphics/GraphvizGraphs.jl
  test/graphics/GraphvizGraphs.jl
Labels: enhancement, graphics, graphs

#733 Add debug flag to `is_natural`
  src/categorical_algebra/CSets.jl
  test/categorical_algebra/CSets.jl
Labels: enhancement

#734 Keyword args for `oapply` to expose (co)limit
  src/wiring_diagrams/Algebras.jl
Labels: enhancement, wiring diagrams
